<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
<h1 align=center>Hello there!</h1>
<form align=center action="/birthday" method="post">
  <label class="big" for="name">What's your name?</label> <br>
  <input class="big" type="text", name="name"> <br>
  <label class="big" for="birthday">When's your birthday?</label> <br>
  <label class="small" for="day">day:</label>
  <input type="number", name="day">
  <label class="small" for="month">month:</label>
  <select name="month">
    <option>January</option>
    <option>Feburary</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
  </select> <br>
  <input type="submit" value="Go!" style="height:50px"/>
</form>
</body>
</html>

<!--
add required on form -->
