body {
    background-color: #C0DDFF;
    }
h1, label, input, select {
    font-family: Arial, Helvetica, sans-serif;
  }
h1 {
    font-size: 100px;
    margin-top: 50px;
  }
h1.hb {
  font-size: 75px;
  position: relative;
  top: 200px;
}
label.big {
    font-size: 50px;
  }
label.small {
    font-size: 30px;
  }
input, select {
    font-size: 30px;
    margin-top: 15px;
  }
input[type=text], input[type=submit] {
    width: 25%;
  }
input[type=submit] {
    border: none;
    height: 25px;
  }
input[type=number] {
    width: 75px;
  }
